<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry
            location="/Users/shengjintong/Documents/mybatis-generator/mysql-connector-java-8.0.17.jar"/>
    <context id = "MySql" defaultModelType = "flat">
        <plugin type = "org.mybatis.generator.plugins.SerializablePlugin"/>
            <jdbcConnection
                    driverClass = "com.mysql.jdbc.Driver"
                    connectionURL = "jdbc:mysql://localhost:3306/kwmanage"
                    userId = "root"
                    password = "12345678"/>
            <javaModelGenerator
                    targetPackage = "com.taianting.springboot.model"
                    targetProject = "src/main/java">
            </javaModelGenerator>
            <sqlMapGenerator
                    targetPackage = "mapper"
                    targetProject = "src/main/resources">
            </sqlMapGenerator>
            <javaClientGenerator
                    targetPackage = "com.taianting.springboot.mapper"
                    targetProject = "src/main/java"
                    type = "XMLMAPPER">
            </javaClientGenerator>
            <table tableName = "users" enableCountByExample="false" enableDeleteByExample="false"
                   enableDeleteByPrimaryKey="false" enableInsert="false" enableSelectByExample="false"
                   enableUpdateByExample="false" enableUpdateByPrimaryKey="false">
                <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
            </table>
        </context>
    </generatorConfiguration>