<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taianting.springboot.dao.XuexiaoMapper">
  <resultMap id="BaseResultMap" type="com.taianting.springboot.model.Xuexiao">
    <id column="xuexiaoId" jdbcType="INTEGER" property="xuexiaoId" />
    <result column="xuexiaoName" jdbcType="VARCHAR" property="xuexiaoName" />
  </resultMap>
</mapper>